/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100% !important; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#navlogo{
    width: 120px;
    height: 85px;
}

.content-center{
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
    position: relative;
    bottom: 0;
}